<!DOCTYPE html>
<html lang="es">
<head>
    <title> Mi motor de plantilla EJS</title>
    <meta charset="utf-8" />
    <!-- <link rel="stylesheet" href="/css/main.css"> -->  
    <link rel="shortcut icon" href="../public/images/favicon.ico" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:300,300italic,700,700italic,700italic" rel="stylesheet">  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
</head>
<body>