<!-- Start Top Bar -->
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text">Precious books</li>
          <li><a href="#">About us</a></li>
          <li><a href="#">Contact us</a></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <div class="top-bar-right">
            <ul class="menu">
                <li><a href="/eBooks">eBooks</a></li>
                <li><a href="/new-text">New Textbooks</a></li>
                <li><a href="#">Used Textbooks</a></li>
                <li><a href="/audio-books">Audio books</a></li>
            </ul>
        </div>
        
      </div>
    </div>
    <!-- End Top Bar -->


    <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
      <ul class="orbit-container">
        <button class="orbit-previous" aria-label="previous"><span class="show-for-sr">Previous Slide</span>&#9664;</button>
        <button class="orbit-next" aria-label="next"><span class="show-for-sr">Next Slide</span>&#9654;</button>
        <li class="orbit-slide is-active">
          <img src="https://printondemand.co.id/wp-content/uploads/2014/10/07.jpg">
        </li>
        <li class="orbit-slide">
          <img src="https://img1.od-cdn.com/ImageType-4">
        </li>
        </ul>
    </div>

    <div class="row column text-center">
      <h2>Our Newest Products</h2>
      <hr>
    </div>

    <div class="row small-up-2 large-up-4">
      <div class="column">
        <img class="thumbnail" src="https://img1.od-cdn.com/ImageType-400/0116-1/F7F/AEA/A9/%7BF7FAEAA9-0698-4C03-A4EC-F3F672CD52D3%7DImg400.jpg">
        <h5>Audio Book</h5>
        <p>$150</p>
        <a href="#" class="button expanded">Buy Now</a>
        <a href="#" class="button">Add to cart</a>
      </div>
      <div class="column">
        <img class="thumbnail" src="https://img1.od-cdn.com/ImageType-400/8125-1/8F4/C41/5B/%7B8F4C415B-A6FB-45E5-B4E4-8396B33F6A18%7DImg400.jpg">
        <h5>eBook</h5>
        <p>$220</p>
        <a href="https://www.barnesandnoble.com/b/nook-books/_/N-8qa" class="button expanded">Buy</a>
        <a href="#" class="button">Add to cart</a>
      </div>
      <div class="column">
        <img class="thumbnail" src="https://img1.od-cdn.com/ImageType-400/0211-1/244/286/E8/%7B244286E8-1649-4119-A99A-BF1ED40285E9%7DImg400.jpg">
        <h5>New Textbook</h5>
        <p>$200</p>
        <a href="https://www.bing.com/search?q=online+textbook+website&FORM=R5FD6" class="button expanded">Buy</a>
        <a href="#" class="button">Add to cart</a>
      </div>
      <div class="column">
        <img class="thumbnail" src="https://img1.od-cdn.com/ImageType-400/4051-1/8D9/F3B/83/%7B8D9F3B83-6555-41E1-ACA3-A6509AAF3240%7DImg400.jpg">
        <h5>New Textbook</h5>
        <p>$250</p>
        <a href="#" class="button expanded">Buy</a>
        <a href="#" class="button">Add to cart</a>
      </div>
    </div>

    <hr>

    <div class="row column">
      <div class="callout primary">
        <h3>Really big special this week on items.</h3>
      </div>
    </div>

    <hr>

    <div class="row column text-center">
       <a href="#" class="button expanded">Sign up PreciousBooks.com</a>
     
      <h2>Sign up, Get PreciousBooks membership & save up to 40% - 60% on these Books</h2>
      
      <hr>
    </div>

    <div class="row small-up-2 medium-up-3 large-up-6">
      <div class="column">
        <img class="thumbnail" src="https://img1.od-cdn.com/ImageType-400/0017-1/507/49F/F6/%7B50749FF6-6258-4A8D-BF11-F1605295D09E%7DImg400.jpg">
        <h5>Used Textbook, 45% off</h5>
        <p>$70</p>
        <a href="https://yandex.com/images/search?text=Across%20culture%20book%20image&isize=eq&iw=300&ih=400&pos=3&rpt=simage&img_url=https%3A%2F%2Fpixhost.icu%2Favaxhome%2Fa3%2Fbb%2F0065bba3.jpg" class="button small expanded hollow">Buy</a>
      </div>
      <div class="column">
        <img class="thumbnail" src="https://img1.od-cdn.com/ImageType-400/8125-1/F8C/15F/27/%7BF8C15F27-2685-4248-874A-5C72FFBC7B92%7DImg400.jpg">
        <h5>eBook, 40%</h5>
        <p>$85</p>
        <a href="#" class="button small expanded hollow">Buy</a>
      </div>
      <div class="column">
        <img class="thumbnail" src="https://yandex.com/images/_crpd/sza512V13/4042eaJCCyc/d8RZNyGBH-SlBi-Xjl-QuGTXj1ZJiYkap6DObgdz4mRXAiDFx300dil-Nxjk2B-iH7ZwBIIGyh1wvQ7LmZ_4HLSDSOPhURsxpxOtwJmRXjY_HIHYlsGXEq0x27mH5OU2woF2Cpx5OGXoLiaN8o6P5cfkZcwIg1NIr6icx9tbKtqhn94665LS6-BYqxQEVlmwMVzPltAHUFTqelL2DKGvIcgH94Se5TagpO5iQfLEg2KHIS-NTk2aCiljW88X2mhXrdYXcyPT3O7t3-9eTFUZdflejFDXwN9VI3EQ8orl7qzHiXHDV2P8oONgJoW0yMLnjiplDgoDmwSuqZyGWZOrm2gcVTwvWVWvrZ0nkUAXmXU0n43VFwncE2p2V3-IoWIpA47zB9_tvGhqoeIJsk7MYAMrIkAAA1KBoaJSgFbQ55ShF9B0Il7bZS8fZ50MG9x9e1gIWVgGXhMvftJ-AK3qrM7PtgXTJbmqoCPtzbCJSKAKoqRHDoTeymkhlAefFqDU7Z_Zd-hRFWYinOxTD5rSPz8UQJHTSVSWZfRVf82vKWZAwLPAEKxx6OqrLYuyTsUvwusnwAFOU0MgL9LNW9gjEaZW1Hvh2NslJJTtGccdHb21n0SRlM4XG23_2zZEpqqgC070z5FrtKotJO8EsU7A70onIAYBQ1LM7qIUiNOaJdbhUlcxo9ueYyXQoVxAntt6vFGF1tYLWNWk91M7iyUqoAlLuMTYqrUoaukpTLRGheEKLy6PQQUVQG9oU8MXkq-UbZ1f-6hbV-HvFugTiNSbP3FaRN_eitLe6DuV94OhY27Ah7lBlSS8ou7kqUT3jIrojSJihkcM3kJg715Cm96smSAbnr4ilFTiL1_jE8ZYlTc0GUfY38iUnq05EzxMZihnAQYwS9Eh8WCkLqpOfQ_Lr40mrMRHwx7Nb6FTRlKZqp9pnp-yoJeRJCtc7FGIkx14P5IK2h4PXpWmNlO7BA">
        <h5>Texbook, 60%</h5>
        <p>$200</p>
        <a href="https://www.bing.com/images/search?view=detailV2&insightstoken=bcid_TkuTxXWNiP8BrQ*ccid_S5PFdY2I&form=ANCMS1&iss=SBIUPLOADGET&selectedindex=0&id=-391355696&ccid=S5PFdY2I&exph=400&expw=300&vt=2&sim=11" class="button small expanded hollow">Buy</a>
      </div>
      <div class="column">
        <img class="thumbnail" src="https://placehold.it/300x400">
        <h5>Nulla At Nulla Justo, Eget</h5>
        <p>$400</p>
        <a href="#" class="button small expanded hollow">Buy</a>
      </div>
      <div class="column">
        <img class="thumbnail" src="https://placehold.it/300x400">
        <h5>Nulla At Nulla Justo, Eget</h5>
        <p>$400</p>
        <a href="#" class="button small expanded hollow">Buy</a>
      </div>
      <div class="column">
        <img class="thumbnail" src="https://placehold.it/300x400">
        <h5>Nulla At Nulla Justo, Eget</h5>
        <p>$400</p>
        <a href="#" class="button small expanded hollow">Buy</a>
      </div>
    </div>

    <hr>
    <div class="row">
      <div class="medium-4 columns">
        <h4>Top Products</h4>
        <div class="media-object">
          <div class="media-object-section">
            <img class="thumbnail" src="">
          </div>
          <div class="media-object-section">
            <h5>Nunc Eu Ullamcorper Orci</h5>
            <p>Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque.</p>
          </div>
        </div>
        <div class="media-object">
          <div class="media-object-section">
            <img class="thumbnail" src="https://placehold.it/100x100">
          </div>
          <div class="media-object-section">
            <h5>Nunc Eu Ullamcorper Orci</h5>
            <p>Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque.</p>
          </div>
        </div>
        <div class="media-object">
          <div class="media-object-section">
            <img class="thumbnail" src="https://placehold.it/100x100">
          </div>
          <div class="media-object-section">
            <h5>Nunc Eu Ullamcorper Orci</h5>
            <p>Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque.</p>
          </div>
        </div>
      </div>
      <div class="medium-4 columns">
         </div>
        </div>
             
    <div class="callout large secondary">
      <div class="row">
        <div class="large-4 columns">
          <h5>Thank you for visiting us.</h5>
          <p>Precious Books</p>
        </div>
        
        <div class="large-3 large-offset-2 columns">
          <ul class="menu vertical">
            <li><a href="#">My account</a></li>
            <li><a href="#">My orders</a></li>
            <li><a href="#">My cart</a></li>
            <li><a href="#">Settings</a></li>
          </ul>
        </div>

        </div>
     </div>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>